<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<ul>
<% for(var i=0; i<cateogires.length; i++) {%>
  <li>
    <a href='/product/<%= cateogires[i].slug %>'><%= cateogires[i].name %></a>
    <ul>
      <% for(var j=0; j<cateogires[i].products.length; j++) {%>
        <li>
          <a href='/product/<%= cateogires[i].slug %>/<%= cateogires[i].products[j].slug %>'><%= cateogires[i].products[j].name %></a>
        </li>
      <% } %>
    </ul>
  </li>
<% } %>
</ul>